.source-with-latex {
  margin-top: 2rem;
}

.source-with-latex .source-path {
  color: #666666;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.source-with-latex .source-block {
  max-height: 80vh;
  overflow: auto;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  background: #f7f7f7;
}

.source-with-latex .source-block pre {
  margin: 0;
  padding: 0.8rem 0.9rem;
  line-height: 1.4;
  font-size: 0.82rem;
}

.source-with-latex .source-line {
  display: block;
  white-space: pre;
}

.source-with-latex .lineno {
  display: inline-block;
  width: 4.5em;
  margin-right: 0.8em;
  color: #9b9b9b;
  user-select: none;
  text-align: right;
}

.source-with-latex .latex-inline {
  color: #0b3d91;
  font-style: italic;
}
